/* Reset et base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f5f5f5;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
  }
  
  /* HEADER */
  header {
    background: #0E0E0E;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  header .container {
    max-width: 1216px;
    width: 100%;
    padding: 0 32px;
    margin: 13px auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;

  }
  
  /*---- LOGO ---- */
  .logo .logo-img {
    width: 144.84px;
    height: 54px;
  }

  /* ---- NAVIGATION ----*/
  
  .navbar .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    height: 100%;
  }
  
  .navbar .nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
  }
  

  /* Icon`s traitement */
  .icon-arrow {
    width: 20px;
    height: 20px;
  }
  .icon-flag{
    display: block;
    margin: auto 0;
    width: 21px;
    height: 15px;
  }
  .icon-pointer {
    width: 19px;
    height: 17px;
  }
  /* ---- Hover NAV ----*/
  .navbar .nav-link:hover{
    color: #F5B400;
  }
  
  
  .link-icon:hover .icon-arrow, .flag-selector:hover .icon-arrow {
    content: url("images/flèche_jaune.svg");
    cursor: pointer;
  }
  .link-icon,.flag-selector{
    display: flex;
    color: white;
  }
  


  /* ---- CONTACT BOTTON ----*/
  .contact-botton-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 18px;
    background: #F5B400;
    color: #1C1A1A;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    font-family: 'Inter', sans-serif;
  }
  
  .contact-botton-link:hover{
    background: #f7d371;
  }

  .has-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    top: 100%;
    margin-top: 25px;
    background-color: #000000;
    list-style: none;
    border-radius: 8px;
    
    transition: .5s all ease;
  }
  .submenu ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    
    padding: 20px 30px 20px 20px;
  }
  .submenu li {
    gap: 11.5px;
    white-space: nowrap;
  }
  
  /* For submenu-columns*/
  .submenu-columns {
    display: flex;
    justify-content: space-between;
    
  }
  .submenu-columns ul {
    list-style: none;
    white-space: nowrap;
    
  }
  
  .submenu-columns ul li {
    display: flex;
    align-items: center;
    
    
  }
  
  .submenu-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  .submenu-columns li img{
    width: 40px;
    height: 40px;
    border-radius: 2px;

  }
  .submenu-columns .first-column{
    padding-right: 20px;
    border-right: 0.6px solid #2D2D2D ;
  }
  
  
  /* Survol général */
  .submenu-columns a:hover {
    color: #F5B400;
    
  }
  .has-submenu:hover .submenu,.has-submenu .submenu:hover {
    max-height: 1000px;
    opacity: 1;
    overflow: visible;
  }

  
  .has-submenu:hover .icon-arrow {
    transform: rotate(180deg);
    transition: 0.3s ease;
  }
  
  /* Hover couleur */
  .has-submenu .submenu li:hover,.has-submenu .submenu li a:hover {
    color: #F5B400;
    cursor: pointer;
  }
  
  
  /* Supprimer le marker du parent */
  li .has-submenu::marker {
    display: none;
    padding: 0;
    margin: 0;
  }
  
.navbar__mobile{
    display: none;
  }
.burger-menu{
  display: none;
}
  /*======== RESPONSIVE VERSION ========*/
@media (max-width:900px){
  .navbar .nav-menu .nav-link{
    font-size: 14px;
  }
  .contact-botton-link{
    font-size: 16px;
    padding:13px 12px ;
  }
}
@media (max-width:768px) {
 
  .navbar{
    display: none;
  }
  .contact-botton-link{
    display: none;
  }
  header{
    position: relative;
  }
  .container{
    display: flex;
    align-items: center;
    padding: 0;
  }
  .navbar__mobile{
    display: flex;
    position:absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    
  }
  .navbar__mobile .nav-menu{
    
    background: #2d2d2d;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  .navbar__mobile .nav-menu.active{
    max-height: 1000px;
    overflow: visible;
    opacity: 1;
  }

  .has-submenu .submenu{
    position:static;
    background: none ;
    margin-top: 0;
    
   }
  


  .navbar__mobile .nav-menu .nav-link {
    text-decoration: none;
    color: #ffffff;
  }
   .navbar__mobile .nav-link:hover{
    color: #F5B400;
  }
  
  
  .navbar__mobile .has-submenu .nav-link:hover .icon-arrow {
    content: url("images/flèche_jaune.svg");
  }
  
  .burger-menu{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .burger-menu.active {
    content: url("images/close-menu.svg");
    transition:  0.3s ease;
  }
}