/* Reset et base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f5f5f5;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
  }
  
  /* HEADER */
  header {
    background: #0E0E0E;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 1216px;
    margin: 13px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /*LOGO */
  .logo img {
    width: 144.84px;
    height: 54px;
  }
  
  /* NAVIGATION*/
  nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 15px 0;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  /* Icône flèche */
  .icon-arrow {
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
  }
  
  /* Survol du lien */
  nav li a:hover {
    color: #F5B400;
  }
  
  nav li a:hover .icon-arrow {
    content: url("images/flèche_jaune.svg");
  }
  
  /* BOUTON CONTACT*/
  .Btn_Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 18px 19px 28px;
    background: #F5B400;
    color: #1C1A1A;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .icon-pointer {
    width: 19px;
    height: 17px;
  }

  .has-submenu {
    position: relative;
  }
  

  .submenu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 200px;
    background-color: #0E0E0E;
    list-style: none;
    z-index: 1000;
  }
  .submenu li {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
  }
    
  .submenu li a {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  /* AFFICHAGE AU SURVOL*/
  .has-submenu .submenu li a:hover {
    color: #F5B400;
    ;
  }
  
  .has-submenu:hover .submenu {
    display: block;
  }
  
  .has-submenu:hover .icon-arrow {
    transform: rotate(180deg);
  }